/* Table container */
.table-container {
  border-radius: 8px;
  /* overflow: hidden; */
}

.table-body::-webkit-scrollbar {
  height: 10px; /* Scrollbar height */
  width: 10px;
}

.table-header-cell:focus {
  outline: 2px solid #007bff;
}

/* Column separator */
.column-separator {
  background-color: #ddd;
  width: 5px;
}

/* Body */
.table-body {
  max-height: 70vh;
  overflow-y: auto;
}


.table-item:hover {
  background-color: #f1f1f1;
}
/* .cell-container:focus{
  background-color: #007bff;
} */

/* Pagination controls */
.pagination-controls {
  padding: 10px;
  /* background-color: #f4f4f4; */
  border-top: 1px solid #ddd;
}


.pagination-button:hover {
  background-color: #0056b3;
}

.pagination-button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.pagination-info {
  line-height: 32px;
}


.sliding-drawer {
  position: fixed;
  top: 100;
  right: -100%;
  min-width: 500px;
  background-color: white;
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 100;
}

/* .sliding-drawer.open {
  right: 0;
} */

/* .drawer-content {
  padding: 20px;
} */
