/* Table container */

@media (max-width: 600px) {
  .table-content {
    display: block; /* Change to block for stacking */
  }
  .table-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; /* Spacing between cards */
  }
}



.table-body::-webkit-scrollbar {
  height: 10px; /* Scrollbar height */
  width: 10px;
}

.table-header-cell:focus {
  outline: 2px solid #007bff;
}

/* Body */
.table-body {
  max-height: 70vh;
  overflow-y: auto;
}

/* Cells */
.cell-container {
  padding: 10px;
}


.table-item:hover {
  background-color: #f8f8f8;
}
/* .cell-container:focus{
  background-color: #007bff;
} */

/* Pagination controls */
.pagination-controls {
  padding: 10px;
  /* background-color: #f4f4f4; */
  border-top: 1px solid #ddd;
}


.pagination-button:hover {
  background-color: #0056b3;
}

.pagination-button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.pagination-info {
  line-height: 32px;
}